<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @audio.string %>
</p>

<p>
  <b>String:</b>
  <%= @audio.string %>
</p>

<p>
  <b>String:</b>
  <%= @audio.string %>
</p>

<p>
  <b>Integer:</b>
  <%= @audio.integer %>
</p>

<p>
  <b>Datetime:</b>
  <%= @audio.datetime %>
</p>


<%= link_to 'Edit', edit_audio_path(@audio) %> |
<%= link_to 'Back', audios_path %>
