<h1>Listing image_urls</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @image_urls.each do |image_url| %>
  <tr>
    <td><%= image_url.description %></td>
    <td><%= image_url.url %></td>
    <td><%= link_to 'Show', image_url %></td>
    <td><%= link_to 'Edit', edit_image_url_path(image_url) %></td>
    <td><%= link_to 'Destroy', image_url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image url', new_image_url_path %>
