<% content_for :title, @product ? @product.name : "Which Message would you like to Capture?" %>

<div id="main" role="main">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="grey span3">
        <%= render 'layouts/left' %>
      </div>

      <div class="grey span7" id="capture-content">
        <%= render 'layouts/messages' %>

        <%= render 'layouts/media_buttons' %>

        <div data-pjax-container>
          <!-- <div class="row" id="message-container"> -->
            <%= yield :mc %>
          <!-- </div> -->
        </div>

      </div>

      <div class="grey span2">
        <%= render 'layouts/right' %>
      </div>
    </div> <!-- end row -->
  </div> <!--! end of .container-fluid -->
</div> <!--! end of #main -->