<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @video.string %>
</p>

<p>
  <b>String:</b>
  <%= @video.string %>
</p>

<p>
  <b>String:</b>
  <%= @video.string %>
</p>

<p>
  <b>Integer:</b>
  <%= @video.integer %>
</p>

<p>
  <b>Datetime:</b>
  <%= @video.datetime %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
