<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @letter.string %>
</p>

<p>
  <b>Content:</b>
  <%= @letter.content %>
</p>


<%= link_to 'Edit', edit_letter_path(@letter) %> |
<%= link_to 'Back', letters_path %>
