<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @photo_booth.string %>
</p>

<p>
  <b>String:</b>
  <%= @photo_booth.string %>
</p>

<p>
  <b>String:</b>
  <%= @photo_booth.string %>
</p>

<p>
  <b>Integer:</b>
  <%= @photo_booth.integer %>
</p>

<p>
  <b>Datetime:</b>
  <%= @photo_booth.datetime %>
</p>


<%= link_to 'Edit', edit_photo_booth_path(@photo_booth) %> |
<%= link_to 'Back', photo_booths_path %>
