<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>

<ul class="nav nav-list">
  <li class="active"><%= link_to "Recent", root_path %></li>
  <li class="nav-header">Photo</li>
    <div><%= @lastPhoto %></div>
  <li class="nav-header">PhotoBooth</li>
    <div><%= @lastPhotoBooth %></div>
  <li class="nav-header">Video</li>
    <div><%= @lastVideo %></div>
  <li class="nav-header">Letter</li>
    <div><%= @lastLetter %></div>
  <li class="nav-header">URL</li>
    <div><%= @lastURL %></div>
  <li class="nav-header">RSS</li>
    <div><%= @lastRSS %></div>
  <li class="nav-header">Image</li>
    <div><%= @lastImage %></div>
  </ul>
