<div class="row" id="media-buttons">
  <table>
    <tr>
      <td colspan="5" class="media-type">Take here, or =></td>
      <td colspan="4" class="media-type">Provide, then =></td>
    </tr>
    <tr>
      <th class="media-type active">Picture</th>
      <th class="media-type">PhotoBooth</th>
      <th class="media-type">Video</th>
      <th class="media-type">Audio</th>
      <th class="media-type">Letter</th>
      <th class="media-type">URL</th>
      <th class="media-type">Attachment</th>
      <th class="media-type">RSS</th>
      <th class="media-type">Image</th>
    </tr>
    <tr>
      <td class="media-type active"><%= link_to "", '../captures/photos', :class => "btn btn-large icon-camera-retro icon-large active" %></td>
      <td class="media-type"><%= link_to "", '../captures/photo_booths', :class => "btn btn-large icon-film icon-large" %></td>
      <td class="media-type"><%= link_to "", '../captures/videos', :class => "btn btn-large icon-facetime-video icon-large" %></td>
      <td class="media-type"><%= link_to "", '../captures/audios', :class => "btn btn-large icon-music icon-large" %></td>
      <td class="media-type"><%= link_to "", '../captures/letters', :class => "btn btn-large icon-edit icon-large" %></td>
      <td class="media-type"><%= link_to "", '../captures/urls', :class => "btn btn-large icon-link icon-large" %></td>
      <td class="media-type"><%= link_to "", '../captures/attachments', :class => "btn btn-large icon-paper-clip icon-large" %></td>
      <td class="media-type"><%= link_to "", '../captures/rsses', :class => "btn btn-large icon-rss icon-large" %></td>
      <td class="media-type"><%= link_to "", '../captures/image_urls', :class => "btn btn-large icon-picture icon-large" %></td>
    </tr>
  </table>
</div>
