<div class="row" id="media-buttons">
  <table>
    <tr>
      <td colspan="5" class="media-type">Take here, or =></td>
      <td colspan="4" class="media-type">Provide, then =></td>
    </tr>
    <tr>
      <th class="media-type active">Picture</th>
      <th class="media-type">PhotoBooth</th>
      <th class="media-type">Video</th>
      <th class="media-type">Audio</th>
      <th class="media-type">Letter</th>
      <th class="media-type">URL</th>
      <th class="media-type">Attachment</th>
      <th class="media-type">RSS</th>
      <th class="media-type">Image</th>
    </tr>
    <tr>
      <td class="media-type active"><%= link_to "", captures_photos_path, :class => "btn btn-large icon-camera-retro icon-large active" %></td>
      <td class="media-type"><%= link_to "", captures_photo_booths_path, :class => "btn btn-large icon-film icon-large" %></td>
      <td class="media-type"><%= link_to "", captures_videos_path, :class => "btn btn-large icon-facetime-video icon-large" %></td>
      <td class="media-type"><%= link_to "", captures_audios_path, :class => "btn btn-large icon-music icon-large" %></td>
      <td class="media-type"><%= link_to "", captures_letters_path, :class => "btn btn-large icon-edit icon-large" %></td>
      <td class="media-type"><%= link_to "", captures_urls_path, :class => "btn btn-large icon-link icon-large" %></td>
      <td class="media-type"><%= link_to "", captures_attachments_path, :class => "btn btn-large icon-paper-clip icon-large" %></td>
      <td class="media-type"><%= link_to "", captures_rsses_path, :class => "btn btn-large icon-rss icon-large" %></td>
      <td class="media-type"><%= link_to "", captures_image_urls_path, :class => "btn btn-large icon-picture icon-large" %></td>
    </tr>
  </table>
</div>
