<p class="headering">Recent</p>
<ul class="nav nav-list">
  <li class="nav-header">Photo</li>
<!--     <div><%= image_tag(@lastPhoto) %></div> -->
  <li class="nav-header">PhotoBooth</li>
    <div><%= @lastPhotoBooth %></div>
  <li class="nav-header">Video</li>
    <div><%= @lastVideo %></div>
  <li class="nav-header">Letter</li>
    <div><%= @lastLetter %></div>
  <li class="nav-header">URL</li>
    <div><%= @lastURL %></div>
  <li class="nav-header">RSS</li>
    <div><%= @lastRSS %></div>
  <li class="nav-header">Image</li>
    <div><%= @lastImage %></div>
</ul>
