<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "MessageBooth" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "MessageBooth" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>

  <body>
    <div id="wrap">
      <header class="navbar navbar-inverse navbar-fixed-top">
        <nav class="navbar-inner">
          <div class="container-fluid">
            <%= render 'layouts/navigation' %>
          </div>
        </nav>
      </header>

      <%= yield %>

      <footer class="footer">
        <div class="container-fluid">
          <%= render 'layouts/footer' %>
        </div>
      </footer>
    </div> <!-- end of wrap -->
  </body>
</html>